body
    background-color: black!important
    #header
        margin-bottom: 20px
        .imgbox
            img
                width: 85%
        .navbar
            ul
                display: inline-block
                li
                    display: inline-block
                    margin-right: 5px
                    i
                        color: white
                    a
                        color: white
            .search
                display: inline-block
                position: relative
                input
                    border-radius: 5px
                .fa-search
                    position: absolute
                    right: 5px
                    top: 7px
            .language
                display: flex
                float: right
            .basket
                font-size: 20px
                color: white
                position: relative
                .sayi
                    width: 15px
                    height: 15px
                    background-color: red
                    border-radius: 50%
                    position: absolute
                    top: 10px
                    left: 20px
                    display: flex
                    align-items: center
                    justify-content: center
                    font-size: 13px
                    font-weight: bold
                .movielist
                    padding: 20px
                    background-color: red
                    position: absolute
                    display: none
                    z-index: 99
                    width: 260px
                .active
                    display: block!important
                    .cancel
                        position: absolute
                        right: 8px
                        top: 5px
                    .cartTotal
                        display: flex
                        border: 1px solid
                    p
                        margin: 0px 0px 0px 0px
                .clear
                    button
                        width: 100%
                        border: none
                        color: red
                    thead
                        font-size: 12px
                .basketList
                    display: flex
                    .imgbox
                        width: 20%
                        .img
                            width: 20%!important
    #movies
        #list
            .imgbox
                img
                    width: 100%
            .words
                display: flex
                justify-content: space-between
                margin-top: 15px
                margin-bottom: 15px
                .name
                    font-size: 15px
                    color: white
                    margin-bottom: 0
                .imd
                    margin-bottom: 0
                    font-size: 15px
                    color: white
            .movie
                .price
                    font-size: 15px
                    color: white
                    margin-bottom: 20px
                .money
                    display: inline-block
                .icons
                    display: flex
                    justify-content: space-evenly
                    i
                        font-size: 20px
                        color: white
                        cursor: pointer
                &:hover
                    filter: brightness(0.5)
                    transition: all 0.5s ease
            .active
                display: block

    #tbody
        font-size: 12px
        li
            display: flex
            list-style-type: none
            justify-content: center
            align-items: center
            list-style-type: none
            margin-bottom: 15px
            .calculator
                display: flex
                align-items: center
                margin-right: 20px
                input
                    width: 18px
                    height: 32px
            .imgbox
                display: flex
                align-items: center
                .name
                    display: flex
                    flex-direction: column
                img
                    width: 30%
                    margin-right: 10px
