body
    background-color: black!important
    #header
        margin-bottom: 20px
        .imgbox
            img
                width: 100%
        .navbar
            ul
                display: inline-block
                li
                    display: inline-block
                    margin-right: 5px
                    i
                        color: white
                    a
                        color: white
            .search
                display: inline-block
                position: relative
                input
                    border-radius: 5px
                .fa-search
                    position: absolute
                    right: 5px
                    top: 7px
            .language
                display: flex
                float: right
            .basket
                font-size: 20px
                color: white
    #movies
        #list
            .imgbox
                img
                    width: 100%
            .name
                display: flex
                justify-content: space-between
                color: white
                margin-bottom: 0
            .movie
                .price
                    font-size: 20px
                    color: white
                    margin-bottom: 20px
                .icons
                    display: flex
                    justify-content: space-evenly
                    i
                        font-size: 20px
                        color: white
                        cursor: pointer
                &:hover
                    filter: brightness(0.5)
                    transition: all 0.5s ease
            .active
                display: block
